[submodule "vendor/d3.line"]
	path = vendor/d3.line
	url = https://github.com/Enucatl/d3.line.git
[submodule "vendor/ui-slider"]
	path = vendor/ui-slider
	url = https://github.com/angular-ui/ui-slider.git
