div(ng-app='ng-app')
  h2 Dark field and absorption
  mathjax-bind
  p.
    In the energy range dominated by Compton scattering, above 80 keV, we
    have a relationship between the dark field \\(B\\) and the transmission
    \\(A\\) with a free parameter \\(\\beta\\):
  script(type="math/tex").
    \\begin{align*}
    \\gamma(\\beta) &= \\dfrac{\\pi^3}{3}\\dfrac{\\beta}{1 - 2 \\pi \\beta}\\\\
    B\(A\) &= \\exp \\left\\{ \\gamma(\\beta) \\Big(1 - \\dfrac 1 A \\Big) \\right\\}
    \\end{align*}
  p.
    Experiments on an interferometer with a design energy of 120 keV show a
    typical value for \\(\\beta \\sim 0.08\\). Therefore the dark field
    signal depends on the transmission according to the function plotted
    below.

  div(ng-controller="TheoreticalPlotCtrl")
    theoretical-plot.span8

  a.btn.btn-primary(ng-href="#/noise_absorption") Next
