div(ng-app='ng-app')
  h2 Compton scattering and grating interferometry

  p
    | Experiments 
    a(href='https://intranet.psi.ch/pub/Tomcat/Schedule2014/2014.06.03.matteo.progress.report.pdf')
      \(progress report 05/06/2014 pdf\) 
    | show that Compton scattering has a deep influence on the structure of
    | the three signals of grating interferometry.

  p The visibility is indeed very strongly affected by the scattering so that the noise properties above the threshold where Compton scattering becomes dominant can be very unfavourable.

  a.btn.btn-primary(ng-href="#/dark_field_absorption") Read more
