ul.nav
  li(ng-class="getClass('/home')")
    a(ng-href='#/') Overview
  li(ng-class="getClass('/dark_field_absorption')")
    a(ng-href='#/dark_field_absorption') Dark field and absorption
  li(ng-class="getClass('/noise_absorption')")
    a(ng-href='#/noise_absorption') Differential phase and noise
  li(ng-class="getClass('/maximum_thickness')")
    a(ng-href='#/maximum_thickness') Maximum Thickness
